


*{
  margin: 0px;
  padding: 0 px ;
  box-sizing: border-box;
}

body{
  
    background-color: aliceblue;
    display: block;
    font-family: verdana; 
    color:#0e0101; 
    font-size: 16px; 
    font-style: normal;
    font-weight: bold;
    background: linear-gradient(to bottom , rgb(210, 233, 255) 0%, #eecbdc 100%);  
    border-collapse: separate; 
    border: 10px solid rgb(192, 192, 192);
    border-style: groove;
    margin: 100px auto;
    padding: 60px 20px;
}
   

#main-title , #table-title {
  margin-top: 20px;
  align-items: center;
  display: flex;
  padding-right: 50%;
}

.registForm > label {
  font-weight: bold;
  margin: 50px;
  margin-top: 10px;
}

.input-field{
  margin: 20px;
}
.inputVal{
    display: block;
  margin-right: 50px !important;
  width:15%;
  
  
}
#submit-btn{

   size: 10px;
  margin-right: 40px;
}
#contents{
  margin-top: 30px;
  margin-right: 50px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.jsonFormatBtn {
  direction: ltr;
  margin: 25px;
  
}

#captcha-code{
  margin-right: 100px;
}
.errorMsg{
  color : red;
  margin-right: 30px;
}
hr{
  border: 10px solid rgb(97, 104, 138);
  border-radius: 5px;
}

h3{
  color: rgb(31, 0, 155);
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  font-style: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
}

h4{
color: rgb(31, 0, 155);
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  font-style: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
}
input[type="radio"] {
  height: 1.2rem;
  width: 1.2rem;
  margin-right: 0.5rem;
}



